body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul,
ol {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
}


.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15;
    padding-left: 15;

}





.logo {
    color: #4d5ae5;
}

.logo-span {
    color: #2e2f42;
}

.menu-link {
    color: #2e2f42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}




.menu-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-item:hover {
    color: #404bbf
}




.contacts-link {
    color: #434455;
}

.contacts-link {
    line-height: 1.5;
}

.menu-item:focus {
    color: #404BBF;
}

.contacts-link:hover {
    color: #404bbf;
}

.contacts-link:focus {
    color: #404bbf
}

address {
    font-style: normal;
}




.hero-section {
    background-color: #2e2f42;
}

.main-title {
    color: #ffffff;
}

.page-header {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.main-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.order-service {
    color: #4d5ae5;
}

.order-service:hover,
.order-service:focus {
    background-color: #404BBF;
}



.order-service {
    background-color: #4D5AE5;
}

button {
    cursor: pointer;

}

.order-service {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}





.vectors-title {
    color: #2e2f42;
}

.vectors-text {
    color: #434455;
}

.vectors-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.vectors-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.vectors-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.section-three {
    background-color: #F4F4FD;
}

.team {
    color: #2e2f42;
    font-size: 36px;
}

.team {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}


.team {
    background-color: #F4F4FD;
}

.team {
    text-transform: capitalize;
}

.team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.team-list {
    background-color: #FFFFFF;
}

.team-list-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    background-color: #FFFFFF;
}



.teammates {
    color: #2e2f42;
}

.teammates {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
    color: #434455;
}

.team-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}



.portfolio .portfolio-subtitle {
    color: #2e2f42;
}

.portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio {
    text-transform: capitalize;
    font-size: 36px;
}

.portfolio {
    text-align: center;
}

.portfolio-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}







.page-footer {
    background-color: #2e2f42;
}

.logo-footer-span {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    letter-spacing: 0.02em;
    line-height: 1.5;
}